@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.banner {
    width: 100vw;
    height: 76vh;
    filter: brightness(0.6);
    background-size: cover;

}

.card-group {
    margin-left: 2%;
    margin-right: 2%;
}

    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }

    /* dashboard css */
    .nav-pills li a:hover {
        background-color: seagreen;
    }

    /* Style for the down arrow */
    .down-arrow {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        animation: bounce 1.5s infinite;
    }

    /* Animation for the bouncing arrow */
    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-20px);
        }
        60% {
            transform: translateY(-10px);
        }
    }